# Logs
*.log

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
# Keep package-lock.json if you want to lock dependencies
# add "package-lock.json" to the line above if you want to ignore it.

# Editor directories and files
.idea/
.vscode/
*.swp
*~
